<?xml version="1.0" encoding="UTF-8" standalone="no"?><plugin>
    <id>com.fr.plugin.widget.excel.excelexport</id>
    <name><![CDATA[导出excel方式选择控件]]></name>
    <active>yes</active>
    <version>1.0</version>
    <env-version>8.0</env-version>
    <jartime>2015-08-09</jartime>
    <vendor>finereport.neil</vendor>
    <description><![CDATA[excel导入及导出时可以支持选择xls还是xlsx文件。具体请查看：http://bbs.finereport.com/thread-69128-1-1.html]]></description>
    <change-notes><![CDATA[导入导出excel时可以选择版本]]></change-notes>
    <extra-designer>
		<WebWidgetOptionProvider class="com.fr.plugin.widget.excel.Excel2003"/>
        <WebWidgetOptionProvider class="com.fr.plugin.widget.excel.ExcelO2003"/>
		<WebWidgetOptionProvider class="com.fr.plugin.widget.excel.ExcelP2003"/>
		<WebWidgetOptionProvider class="com.fr.plugin.widget.excel.ExcelS2003"/>
		<ExportToolBarProvider 
		class="com.fr.plugin.widget.excel.ExcelEditToolBarImpl"/>
    </extra-designer>
	<extra-report>
		<ExportBtnProvider class="com.fr.plugin.widget.excel.Excel2003"/>
        <ExportBtnProvider class="com.fr.plugin.widget.excel.ExcelO2003"/>
		<ExportBtnProvider class="com.fr.plugin.widget.excel.ExcelP2003"/>
		<ExportBtnProvider class="com.fr.plugin.widget.excel.ExcelS2003"/>
	</extra-report>
</plugin>