<?xml version="1.0" encoding="UTF-8" standalone="no"?><plugin>
    <id>com.fr.plugin.chart.verticallinechart</id>
    <name><![CDATA[垂直折线图]]></name>
    <active>no</active>
    <version>1.0</version>
    <env-version>8.0</env-version>
    <jartime>2015-08-09</jartime>
    <vendor>finereport</vendor>
    <description><![CDATA[垂直折线图]]></description>
    <change-notes><![CDATA[无]]></change-notes>
    <extra-core>
        <LocaleFinder class="com.fr.plugin.chart.ChartLocaleFinder"/>
    </extra-core>
    <extra-report/>
    <extra-designer>
    </extra-designer>

    <extra-chart>
        <IndependentChartProvider class="com.fr.plugin.chart.VerticalLineIndependentChart" plotID="VerticalLineChart"/>
    </extra-chart>

    <extra-chart-designer>
        <IndependentChartUIProvider class="com.fr.plugin.chart.VerticalLineIndependentChartInterface" plotID="VerticalLineChart"/>
    </extra-chart-designer>
</plugin>