{% extends "bootstrap/base.html" %}
{% block title %}煤层气抽采辅助决策CAD系统{% endblock %}

{% block navbar %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('index') }}">煤层气抽采辅助决策CAD系统</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('index') }}">矿井设计</a></li>
        <li><a href="{{ url_for('index') }}">示范矿区技术库管理</a></li>
        <li><a href="{{ url_for('index') }}">抽采技术模式辅助决策</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">抽采关键参数辅助计算 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('index') }}">煤层气抽采难易程度评价</a></li>
            <li><a href="{{ url_for('index') }}">矿井煤层气储量及可抽量预测</a></li>
            <li><a href="{{ url_for('index') }}">矿井瓦斯涌出量预测</a></li>
            <li><a href="{{ url_for('index') }}">掘进工作面瓦斯涌出量预测</a></li>
            <li><a href="{{ url_for('index') }}">回采工作面瓦斯涌出量预测</a></li>
            <li><a href="{{ url_for('index') }}">高抽巷合理布设层位计算</a></li>
            <li><a href="{{ url_for('index') }}">高位抽采钻孔有效布设范围计算</a></li>
            <li><a href="{{ url_for('index') }}">煤层瓦斯抽采半径计算</a></li>
            <li><a href="{{ url_for('index') }}">抽采管径大小辅助计算</a></li>
            <li><a href="{{ url_for('index') }}">孔板流量计算</a></li>
            <li><a href="{{ url_for('index') }}">评价单元划分计算</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">抽采辅助设计 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('index') }}">掘进面煤层气规模化抽采设计</a></li>
            <li><a href="{{ url_for('index') }}">回采面煤层气规模化抽采设计</a></li>
            <li><a href="{{ url_for('index') }}">采动区和采空区抽采设计</a></li>
          </ul>
        </li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">技术文档 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('index') }}">瓦斯抽采标准</a></li>
            <li><a href="{{ url_for('index') }}">瓦斯抽采法规</a></li>
            <li><a href="{{ url_for('index') }}">瓦斯抽采政策</a></li>
            <li><a href="{{ url_for('index') }}">关于本系统</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
       {% if current_user.is_authenticated() %} 
        <li><a href="{{ url_for('logout') }}">注销</a></li> 
       {% else %} 
        <li><a href="{{ url_for('login') }}">登录</a></li> 
       {% endif %}
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{% endblock %}

{% block content %}
  <h1>Hello, Bootstrap</h1>
{% endblock %}