{% extends 'bootstrap/base.html' %}

<!DOCTYPE html>
<html>
  <head>
    {% if title %}
    <title>{{ title }} - microblog</title>
    {% else %}
    <title>microblog</title>
    {% endif %}
    <link href="{{ url_for('.static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <!-- <link href="{{ url_for('.static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet"> -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ url_for('.static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/moment.min.js') }}"></script>
    {#% if g.locale != 'en' %$}
    <!--script src="{{ url_for('.static', filename='js/moment-' + g.locale + '.min.js') }}"></script-->
    {#% endif %#}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ url_for('index') }}">煤层气抽采辅助决策CAD系统</a>
            <ul class="nav">
              <li><a href="{{ url_for('index') }}">{{ _('主界面') }}</a></li>
              <li><a href="{{ url_for('index') }}">{{ _('账户管理') }}</a></li>
              <li><a href="{{ url_for('index') }}">{{ _('示范矿区技术库管理') }}</a></li>
              <li><a href="{{ url_for('index') }}">{{ _('矿井设计') }}</a></li>
              <li><a href="{{ url_for('index') }}">{{ _('抽采技术模式辅助决策') }}</a></li>
              <li><a href="{{ url_for('index') }}">{{ _('抽采关键参数辅助计算') }}</a></li>
              <li><a href="{{ url_for('index') }}">{{ _('抽采辅助设计') }}</a></li>
              <li><a href="{{ url_for('index') }}">{{ _('相关标准、法规及政策') }}</a></li>
              {% if g.user.is_authenticated %}
              <li><a href="{{ url_for('user', nickname=g.user.nickname) }}">{{ _('Your Profile') }}</a></li>
              <li><a href="{{ url_for('logout') }}">{{ _('注销') }}</a></li>
              {% endif %}
            </ul>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>   
  </body>
</html>
